.container {
  text-align: center;
}
.heading {
  color: blue;
  font-size: 28px;
}
.counterdes {
  color: green;
  font-size: 35px;
  font-weight: bold;
}
.buttoncolor {
  background-color: orange;
  color: white;
  height: 36px;
  width: 136px;
  border-radius: 15px;
  font-size: 15px;
  border-width: 0;
  margin-right: 10px;
}
